.container-3 {
  height: 370px;
  max-width: 1200px;
  margin: auto;
  display: block;
  align-items: center;
  background-color: rgb(242, 243, 243);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: PP Object sans, sans-serif;
}

.input-container-2 {
  margin: 30px 30px 30px 30px;
}

.error,
.error-msg {
  color: red;
  font-size: 0.9rem;
  margin-top: 5px;
}
.error-msg {
  text-align: center;
  margin-top: 10px;
}
