.wishlist-container {
  margin-top: 120px;
  background-color: rgb(255, 255, 255);
  height: 900px;
  width: 100%;
}

.wish-head {
  padding: 20px;
  border-bottom: 0.2px solid rgb(224, 224, 224);
}

.wishlist-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  margin-left: 40px;
  margin-top: 20px;
  overflow: hidden;
}

.wishlist-item {
  height: 380px;
  width: 270px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2vh;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(222, 222, 222);
}

.wish-img {
  height: 60%;
  width: 100%;

  overflow: hidden;
}

.wish-title {
  font-size: 18px;
  padding-left: 20px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.wish-price {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin: 7px 7px 7px 20px;
}

.add-bag {
  height: 40px;
  margin: 0;
  width: 100%;

  margin-top: 7px;

  color: white;
  background-color: black;
  border: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.wish-icon {
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 5px 8px 0 0;
}

.nodata-imgs {
  position: absolute;
  top: 50%;
  left: 40%;
}

.empty {
  margin-left: 80px;
}
