.profile-container-1 {
  min-height: 600px;
  max-width: 850px;
  background-color: white;
  /* margin: 50px 300px; */
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.page-heading {
  border-bottom: 1px solid #d4d5d9;
  padding: 15px 20px;
  font-size: 20px;
  font-weight: 600;
  font-weight: bold;
}
.page-container {
  display: flex;
}

.sidebar {
  vertical-align: top;
  text-align: left;
  /* padding: 0px 20px 0px 0px; */
  font-size: 15px;
  font-weight: 600;
  width: 170px;
  height: 500px;
  background-color: white;
  border-right: 1px solid #d4d5d9;
  margin: 7px 10px;
}

.orders {
  padding: 30px 30px;
  height: 100px;
  width: 145px;
  font-size: 15px;
  border-bottom: 1px solid #d4d5d9;

  /* display: flex;
    justify-content: center; */
}

.profile-container {
  border: 1px solid #d4d5d9;
  height: 520px;
  width: 500px;

  margin: 10px 0px;
}

.profile-heading {
  border-bottom: 1px solid #d4d5d9;
  padding: 5px 5px 15px 15px;
  margin: 5px;
  font-weight: 600;
}

.profile-container-3 {
  border: 1px solid #d4d5d9;
  height: 610px;
  width: 550px;
  padding: 10px 10px;
  margin: 10px 20px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-containter-4 {
  height: 540px;
  padding: 5px 20px;
}

.edit-title {
  line-height: 10px;
  font-size: 16px;
  padding: 6px;
  margin-left: 25px;
  font-weight: 600;
}

.edit-input {
  padding: 7px;
  width: 90%;
  line-height: 10px;
  margin: 5px 30px 10px 20px;
  border: 1px solid rgb(221, 221, 221);
}

.gender-box {
  display: flex;

  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.gender-label {
  padding: 5px;
}

.gender-edit {
  margin-left: 20px;
  /* padding-left: 8px; */
  height: 35px;
  width: 195px;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(128, 127, 127);
  border-radius: 3px;
}

.edit-input-1 {
  margin: 10px;
}

.saveedit-btn {
  line-height: 35px;
  margin: 10px 10px 10px 20px;
  width: 410px;
  background-color: #ff3f6c;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 20px;
}

@media only screen and (max-width: 780px) {
  .sidebar {
    display: inline-block;
  }

  .page-heading {
    display: block;
  }

  .profile-container {
    padding: 42px 130px;
    border: 1px solid #d4d4d9;
  }
}
