.product-container {
  height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  margin-top: 100px;
}

.product-image {
  height: 600px;
  width: 100%;
  overflow: hidden;
  margin: 50px 40px;
  border: 0.6px solid #d4d5d9;
}

.product-items {
  height: 800px;
  width: 100%;
  overflow: hidden;
  margin: 30px 30px;
}
.product-title {
  margin: 15px;
  padding: 10px;
  border-bottom: 0.2px solid #d4d5d9;
  font-size: 22px;
}

.product-description {
  font-size: 16px;
  padding: 10px 10px 10px 20px;
  font-weight: 100;
  color: grey;
  font-weight: 400;
}

.rating {
  border: 1px solid #cdcfd0;
  width: 150px;
  color: grey;
  font-weight: 400;
  padding: 10px;
}

.product-rate {
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
}

.product-rating-box {
  display: flex;
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: 400;
  color: grey;
}

.rating-img {
  height: 25px;
  padding-right: 8px;
}

.product-rating {
  padding-left: 20px;
  padding-bottom: 10px;
  font-weight: 400;
  color: grey;
}

.wishlist-btn {
  height: 40px;
  width: 48%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  margin-top: 8px;
  border-radius: 5px;
}

.wish-icon-2 {
  padding-top: 8px;
  padding-right: 8px;
}

.wish-heading {
  padding-top: 8px;
  padding-right: 8px;
}

.bag-btn {
  width: 48%;
  margin-top: 0px;
  border-radius: 5px;
}

.add-btn {
  border-radius: 5px;
  font-size: 15px;
}

.add-wish-btn {
  display: flex;
  justify-content: space-between;
}
