* {
  margin: 0;
  padding: 0;
  /* margin: auto; */
}

.nav-container {
  max-width: 1200px;
}

.nav {
  height: 100px;
  width: 100%;
  margin: auto;
  gap: 16px;
  display: flex;
  justify-content: center;
  background-color: rgb(234, 237, 237);
  position: fixed;
  top: 0;
  cursor: pointer;
}

.nav-logo {
  width: 6%;
}

.logo {
  height: 100px;
  width: 120%;
}

.list-items {
  /* display: flex; */
  font-size: 17px;
  width: auto;
  font-weight: 600;
  list-style-type: none;
  margin: 0px 20px;
  padding-top: 40px;
}

a {
  text-decoration: none;
  color: black;
}

.seach-container-1 {
  flex: 1;
}

.search-container {
  position: relative;
}

.mob-search {
  width: 100%;
  min-height: 40px;
}
.search-icon {
  position: absolute;
  height: 18px;
  margin-top: 13px;
  padding: 12px 0px;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: rgb(91, 88, 88);
}

.search-box {
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0.5px solid black;
  margin-top: 30px;
  padding-left: 40px;
}

.container-2 {
  display: flex;
  justify-content: space-around;
  width: auto;
  gap: 35px;
  font-weight: 500;
  margin-right: 10px;
}

.sign-up {
  display: flex;
  font-size: 20px;
  margin-top: 38px;
}

.user {
  padding-top: 40px;
  height: 27px;
  width: 27px;
}

.list-icon {
  padding-top: 40px;
  height: 30px;
  width: 30px;
}

.bag {
  padding-top: 40px;
  height: 30px;
  width: 30px;
}

@media (max-width: 768px) {
  .nav {
    display: flex;
    align-items: center;
    height: auto;
  }

  .list-items {
    display: none;
  }

  .search-box {
    order: 3; /* move search below on small screens */
    width: 100%;
    margin-top: 10px;
  }

  .container-2 {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .sign-up {
    display: none;
  }
  .user,
  .list-icon,
  .bag {
    padding-top: 20px;
  }
}

/* For screens up to 480px wide  */
@media (max-width: 480px) {
  .search-box {
    width: 100%;
  }

  .list-items {
    font-size: 14px;
    gap: 15px;
    position: relative;
  }

  .sign-up {
    font-size: 16px;
  }

  .user,
  .list-icon,
  .bag {
    height: 20px;
    width: 20px;
  }
}
