* {
  padding: 0;
  margin: 0;
}

.orders-container {
  margin-top: 140px;
  background-color: rgb(255, 255, 255);
  border-radius: 18px;
}

.orders-container-2 {
  /* margin-top: 10px; */
  max-width: 1100px;
  margin: auto;
}

.order-container-3 {
  max-width: 1000px;

  margin: auto;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 5px;
  margin-bottom: 20px;
}

.orders-head {
  font-size: 25px;
  font-weight: 600;
  font-weight: 600;
  border-bottom: 1px solid rgb(233, 233, 233);
  margin-bottom: 20px;
  padding: 0px 0px 10px 70px;
}

.order-details {
  margin: 20px 120px 20px 120px;
}
.order-id {
  padding: 3px 0px;
  font-weight: 500;
}

.order-item-head {
  padding-left: 120px;
  color: grey;
}

/* .order-item {
  display: flex;
  height: 145px;
  padding: 20px 20px 20px 0px;
  background-color: #fff; */

/* .order-date {
  font-size: 17px;
  margin: 15px 180px;
  font-weight: 600;
} */
.order-box-1 {
  display: flex;
  justify-content: space-between;
  margin: 6px 0px;
}

.order-box-2 {
  display: flex;
  justify-content: space-between;
  margin: 24px 0px;
  color: grey;
}

.order-status {
  color: green;
  font-size: 19px;
}

.order-id {
  color: grey;
  font-size: 15px;
}

.order-shipping {
  color: grey;
  margin-bottom: 16px;
}

.shipping {
  padding-bottom: 16px;
}

.shipping-head {
  display: block;
  margin-bottom: 16px;
}

.order-item-box-1 {
  margin: 0px 85px;
  margin-bottom: 16px;
}

.order-item-box {
  width: 100%;
  display: flex;

  flex-wrap: wrap;
  flex-direction: row;
  gap: 30px;
  margin-left: 40px;
  margin-top: 10px;
}

.all-orders {
  height: 210px;
  width: 170px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 2vh;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(222, 222, 222);
}
.order-items {
  display: flex;

  height: 130px;
  padding: 20px 20px 20px 0px;
  background-color: #fff;
  max-width: 1200px;
  margin: auto;
  border-bottom: 1px solid rgb(242, 242, 242);
  border-radius: 20px;
  margin-bottom: 10px;
}

.order-img {
  height: 120px;
  width: 100%;
  margin-bottom: 5px;
}

.order-name {
  max-width: 80%;
  display: block;
  font-size: 15px;
  font-weight: 600;
  margin: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-quentity {
  font-size: 12px;
  margin: 6px 10px;
  color: grey;
}

.order-price {
  margin: 5px 10px;
  font-size: 12px;
  color: grey;
}
